@import 'imports/base';
@import 'imports/nav';
@import 'imports/reviews';
@import 'imports/recipes';


.highlight {
  transition: all 0.2s;
  position: absolute;
  top: 0;
  background: rgba(255,255,255,0.2);
  left: 0;
  z-index: 1;
  display: block;
  pointer-events: none;
  }