<div class="wrap">
	<span>
		Search: <input ng-model=" $ctrl.query " />
	</span>
	<span>
		Sort by:
		<select ng-model="$ctrl.orderProp">
			<option value="title">Alphabetical</option>
			<option value="date">Newest</option>
		</select>
	</span>
</div>
<div class="wrap">

	<ul>
		<li ng-repeat="recipe in $ctrl.recipes  | filter:$ctrl.query | orderBy:$ctrl.orderProp">
			<!-- <a href="recipes/{{ recipe.name }}" > --><img ng-src="img/home/{{ recipe.image }}" /><!-- </a> -->
			<div>
				<h1><a href="recipes/{{ recipe.name }} ">{{ recipe.title }}</a></h1>
				<p>{{ recipe.description }}</p>
			</div>
		</li>
	</ul>
</div>
